<form method="POST" action="/new">
  <div class="titleContainer">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" />
  </div>

  <div class="titleContainer">
    <label for="message">Message:</label>
    <textarea type="text" name="message" id="message"></textarea>
  </div>

  <button type="submit">Submit</button>
</form>
