<header>
  <div class="navButtons">
    <form action="/">
      <input type="submit" value="Home" />
    </form>

    <form action="/new">
      <input type="submit" value="New" />
    </form>
  </div>
</header>
